// alert 基础样式
.alert{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: $alert-font-size;
    line-height: $alert-line-height;
    font-family: $alert-font-family;
    padding: $alert-padding-y $alert-padding-x;
    box-sizing: border-box;
    border-radius:$alert-border-radius;
    border: $alert-width solid $alert-border-color;
    color: $alert-color;
}

.ant-alert-content{
    display: flex;
    flex-direction: column;
}
.alert-df{
    display: flex;
}

// alert 的颜色类型
.alert-success{
   @include alert-style($gray-900,$darkgreen,$lightgreen)
}
.alert-default{
    @include alert-style($gray-900,$darkblue,$lightblue)
}
.alert-error{
    @include alert-style($gray-900,$darkred,$lightred)   
}
.alert-warning{
    @include alert-style($gray-900,$darkorange,$lightorange)   
}

//图标
.alert-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}

.alert-icon-success{
    background: url('../../asstes/alert-success.svg');
}
.alert-icon-default{
    background: url('../../asstes/alert-default.svg');
}
.alert-icon-error{
    background: url('../../asstes/alert-error.svg');
}
.alert-icon-warning{
    background: url('../../asstes/alert-warning.svg');
}

//关闭
.alert-close{
    cursor: pointer;
}